{{> header}}

<div class="title">
  <div class="left">
    <h1>Create a list of what you wanna do.</h1>
    <div class="sign-up">
      <h3>create a free account</h3>
      <a href="/signup">signup</a>
    </div>
    <p class="account">already have an account? <a class="login" href="/login">login</a></p>
  </div>
  <img class="right" src="./images/to-do list.jpg" alt="todo list image" />
</div>
{{> footer}}