<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About</title>
  <link rel="stylesheet" href="./css/style.css" />
</head>

<body>

  {{>header}}
  <h1>About page</h1>
  <p>The weather app was created by raju, by using mapbox.com api and darksky.net api</p>
  <img src="./img/imgbin-pewdiepie-legend-of-the-brofist-youtube-fan-art-punch-pCcVhYDgZ77AQa81fekfDVEYi.jpg" />

  {{>footer}}

</body>

</html>